
#calculator{
    margin: auto;
    border: 1px solid rgb(167, 164, 164);
    border-radius: 10px;
    width: 380px;
    height: 500px;
    background: lightgray;
    box-shadow: 1px 5px 10px rgba(39, 38, 38, 0.736);
    
}
#display{
    border-radius: 5px;
    height: 60px;
    width: 92%;
    margin: 16px 11px;
    font-size:x-large;
    
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.button{
    height: 60px;
    width: 60px;
    margin: 8px 15px;
    font-size: larger;
    font-weight: bolder;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    
}
.button:nth-child(1){
    background: rgb(252, 109, 109);
}
.button:nth-child(1):hover{
    background-color: darkred;
    color:silver;
}
.button:nth-child(19){
    background: rgb(66, 250, 81);
}
.button:nth-child(4){
    background: rgb(212, 212, 212);
    color: black;
}

.button:hover{
    background-color: lightgray;
    border-color: rgb(255, 0, 0);
    color: rgb(36, 34, 34);
    border-style: dotted;
}
h1{
    text-align: center;
}